<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>
<body>
  <h1>Abuela Sorda</h1>
  <form action="/answer" method="get">
    Di algo Abuela<br>
    <input type="text" name="nona_response"></input>
    <input type="submit" value="Dilo!"></input>
  </form>
</body>
</html>
