<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>
<body>
  <h1>Mi cuenta es: <%= @cuenta %></h1>
  <form action="/sum" method="get">
    <input type="hidden" name="actual_sum" value="<%= @cuenta %>" >
    <input type="submit" value="Suma!!"></input>
  </form>
</body>
</html>
