<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>
<body>
  <h1>Hola dime a quien saludar!</h1>
  <form action="/solution" method="post">
    <label for="name"><input type="text" id="name" name="name">
    <button type="submit">¡Hola!</button>
  </form>
</body>
</html>
